/*all document rules*/
html{
  font-size: 18px;
  line-height: 1.4;
  font-family:Helvetica;
}
.container {
  max-width: 960px;
  margin: auto;
}
/*header*/
.header {
  background-image:url("glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
  padding-top: 1rem;
}
.menu{
  background-color: cadetblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
}
.logo{
  display:flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}
.logo img{
  height: 1.5rem;
  margin: 0 1rem;
}
.navig {
  display: flex;
  justify-content: flex-end;
}
.navig span{
  padding: 0 2rem;
}
.minimenu{
  display: none;
}
.headerslogan {
  display: inline-block;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  margin-right: -2rem;
}
.flex{
  display: flex;
  justify-content: flex-end;
}
/*advantages section*/
.advantages{
  display: flex;
  justify-content: center;
}
.advantage{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
}
#pic {
  width: 3.5rem;
}
.advantage img {
  width: 5rem;
}
.advantage p{
  text-align: center;
}
/*philosophy, appointments*/
.appointments{
  display: flex;
  justify-content: center;
}
.info {
  width: 35%;
  margin-right: 5%;
}
.info h3{
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  width: 10rem;
  color: white;
}
.info p{
 margin-top: 1rem;
 margin-bottom: 5rem;
 text-align: justify;
}
/*footer*/
footer{
  padding: 4rem;
  background-color: azure;
}
footer img{
  height:1.5rem;
  margin-right: 1rem;
}
@media only screen and (max-width:1024px){
  .header{
    padding-top: 0;
    height: 22rem;
  }
  .headerslogan{
    margin-top: 5rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    line-height: 1.2;
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 560px){
  .container{
    width: 100%;
  }
 .navig{
   display: none;
 }
 .minimenu{
   display:block;
 }
 .header{
   background-position: 20%;
   height: 17rem;
 }
 .headerslogan{
   width:100%;
   padding: 1rem 0;
   font-size: 1rem;
   margin: 9rem 0;
   margin-right: 0;
   text-align: center;
 }
 .advantages{
   flex-direction: column;
   align-items: center;
   margin: 3.77rem 0;
 }
 .advantage{
   font-size: 0.77rem;
   flex-direction: row;
   justify-content: center;
   margin: 0;
 }
 .advantage p{
   padding-top: 1rem;
 }
 .appointments{
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0;
   padding:0;
 }
.info{
  width: 100%;
  font-size: 0.77rem;
}
.info h3{
  width:100%;
  text-align: center;
}
.info p{
  text-align: left;
  max-width: 560px;
  margin: 1rem auto;
  padding:1rem;
}
footer p{
  display: none;
}
footer img{
  display: block;
  margin: 0 auto;
}
footer .logo{
  justify-content: center;
}
}
